<script setup lang="ts">
import { useHomeStore } from '@/stores/homeStore';

const homeStore = useHomeStore()
</script>

<template>
    <div>
        <button @click="homeStore.doInc">{{ homeStore.num }}</button>
    </div>
</template>